
#about{
    background-image:url('/images/art2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#about h1, #about h2, #about h3, #about h4, #about p{
    color: black;
    position: relative;
    z-index: 2;
}

#about h4, #about p{
    text-align: right; 
    padding: 0 50px 0 50px;
}

#about h4{ 
    font-size: 30px;
    padding-bottom: 20px;
}
#about h1{ 
    font-size: 40px;
    padding-bottom: 20px;
}
