@import url('nav.css');
@import url('intro.css');
@import url('facts.css');
@import url('about.css');
@import url('contact.css');
body{
    padding:0;
    margin:0;
}

nav{

}

section{

}


/*FACTS*/
#fact{
    background-color: yellowgreen;
    background-size: cover;
     width: 100%;
     position: relative;
     height: 500px;
}
.text_layer1{
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     margin: auto;
     z-index: 4;
     width: 400px;
     height: 100px;
 }
.split-right-v{
    border-right: solid 1px #fff;
}
.split-left-v{
    border-left: solid 1px #fff;
}
.split-top{
    border-top: solid 1px #fff;
 }
 
 .split-bottom{
     border-bottom: solid 1px #fff;
 }
.col{
     margin-top: 2%;
     height: 75%;
     float: left;
 }

.w-33{
    position: relative;
    width:33.33%;
    margin-top: 2%;
}
.w-66{
    position:relative;
    width:66.5%;
}
.w-50{
    position: relative;
    width: 50%;
}
#fact h1{
    color: white;
    font-size: 50px;
    text-align: center;
}
#fact h2{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: fantasy
}
#fact h3{
    color: palevioletred;
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
}
#fact h4{
    color: mediumvioletred;
    font-size: 18px;
    text-align: center;
    font-family: "Indie Flower";
}
